flows.json
[
    {
        "id": "3382f3e8.29c93c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9c11537c.9739c",
        "type": "amazon config",
        "z": "",
        "name": "AWS-aaron",
        "region": "us-west-2",
        "proxyRequired": false,
        "proxy": ""
    },
    {
        "id": "84a19310.dce7f",
        "type": "http in",
        "z": "3382f3e8.29c93c",
        "name": "",
        "url": "/imageUp/:username",
        "method": "post",
        "upload": true,
        "swaggerDoc": "",
        "x": 160,
        "y": 100,
        "wires": [
            [
                "fd7b6cdb.e25c6"
            ]
        ]
    },
    {
        "id": "4d422730.e26118",
        "type": "http response",
        "z": "3382f3e8.29c93c",
        "name": "",
        "statusCode": "200",
        "headers": {
            "content-type": "application/json"
        },
        "x": 1310,
        "y": 20,
        "wires": []
    },
    {
        "id": "24d1070e.505758",
        "type": "AWS Rekognition",
        "z": "3382f3e8.29c93c",
        "aws": "9c11537c.9739c",
        "operation": "CompareFaces",
        "SourceImage": "",
        "TargetImage": "",
        "CollectionId": "",
        "Input": "",
        "Output": "",
        "Name": "",
        "Settings": "",
        "RoleArn": "",
        "FaceIds": "",
        "Image": "",
        "Id": "",
        "JobId": "",
        "FaceId": "",
        "Video": "",
        "name": "",
        "x": 990,
        "y": 160,
        "wires": [
            [
                "ca8ef3a1.8c50e",
                "ce56d52a.9be7b8"
            ]
        ]
    },
    {
        "id": "ca8ef3a1.8c50e",
        "type": "debug",
        "z": "3382f3e8.29c93c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1240,
        "y": 160,
        "wires": []
    },
    {
        "id": "cc9038d5.44ab68",
        "type": "function",
        "z": "3382f3e8.29c93c",
        "name": "",
        "func": "//var image = atob(msg.SourceImage);\n\nvar image = Buffer.from(msg.SourceImage, 'base64').toString();\n\nvar length = image.length;\nimageBytes = new ArrayBuffer(length);\nvar ua = new Uint8Array(imageBytes);\nfor (var i = 0; i < length; i++) {\n  ua[i] = image.charCodeAt(i);\n}\n//Call Rekognition  \n//DetectFaces(imageBytes);\n\n\n\nmsg.SourceImage = {\n    Bytes: ua //imageBytes\n};\nmsg.TargetImage = {\n    Bytes: ua //imageBytes\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 740,
        "wires": [
            [
                "40fe41cf.d39d2"
            ]
        ]
    },
    {
        "id": "dbe68278.53293",
        "type": "file in",
        "z": "3382f3e8.29c93c",
        "name": "",
        "filename": "",
        "format": "",
        "chunk": false,
        "sendError": false,
        "x": 700,
        "y": 80,
        "wires": [
            [
                "9c2a135b.11cb2"
            ]
        ]
    },
    {
        "id": "fd7b6cdb.e25c6",
        "type": "change",
        "z": "3382f3e8.29c93c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "filename",
                "pt": "msg",
                "to": "'/data/webrtc-capturestill/reference-image/' & req.params.username & '.png'",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 100,
        "wires": [
            [
                "73ea26c.b88c6d8"
            ]
        ]
    },
    {
        "id": "40fe41cf.d39d2",
        "type": "debug",
        "z": "3382f3e8.29c93c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 680,
        "y": 740,
        "wires": []
    },
    {
        "id": "9c2a135b.11cb2",
        "type": "function",
        "z": "3382f3e8.29c93c",
        "name": "",
        "func": "//var buff = Buffer.from(msg.payload);\n\nvar buff = msg.req.files[0].buffer;\n\n\nmsg.SourceImage = {\n    Bytes: buff\n};\nmsg.TargetImage= {\n    Bytes: msg.payload\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 860,
        "y": 80,
        "wires": [
            [
                "24d1070e.505758"
            ]
        ]
    },
    {
        "id": "ce56d52a.9be7b8",
        "type": "json",
        "z": "3382f3e8.29c93c",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 1120,
        "y": 80,
        "wires": [
            [
                "4d422730.e26118"
            ]
        ]
    },
    {
        "id": "9a9e42f7.d2bc4",
        "type": "catch",
        "z": "3382f3e8.29c93c",
        "name": "",
        "scope": [
            "24d1070e.505758"
        ],
        "x": 930,
        "y": 200,
        "wires": [
            [
                "c43f1a5b.13e308"
            ]
        ]
    },
    {
        "id": "317bf0d1.ff30f",
        "type": "http response",
        "z": "3382f3e8.29c93c",
        "name": "",
        "statusCode": "200",
        "headers": {
            "content-type": "application/json"
        },
        "x": 1270,
        "y": 200,
        "wires": []
    },
    {
        "id": "c43f1a5b.13e308",
        "type": "template",
        "z": "3382f3e8.29c93c",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"FaceMatches\": [\n    ],\n    \"SourceImageFace\": {\n    },\n    \"SourceImageOrientationCorrection\": \"ROTATE_0\",\n    \"TargetImageOrientationCorrection\": \"ROTATE_0\",\n    \"UnmatchedFaces\": []\n}",
        "output": "str",
        "x": 1060,
        "y": 200,
        "wires": [
            [
                "317bf0d1.ff30f"
            ]
        ]
    },
    {
        "id": "189382fd.8648ad",
        "type": "AWS Rekognition",
        "z": "3382f3e8.29c93c",
        "aws": "9c11537c.9739c",
        "operation": "SearchFacesByImage",
        "SourceImage": "",
        "TargetImage": "",
        "CollectionId": "face_collection",
        "Input": "",
        "Output": "",
        "Name": "",
        "Settings": "",
        "RoleArn": "",
        "FaceIds": "",
        "Image": "",
        "Id": "",
        "JobId": "",
        "FaceId": "",
        "Video": "",
        "name": "",
        "x": 490,
        "y": 260,
        "wires": [
            [
                "2109cbaf.0e2724",
                "8007c357.7ad99"
            ]
        ]
    },
    {
        "id": "73ea26c.b88c6d8",
        "type": "function",
        "z": "3382f3e8.29c93c",
        "name": "",
        "func": "//var buff = Buffer.from(msg.payload);\n\nvar buff = msg.req.files[0].buffer;\n\n\nmsg.Image = {\n    Bytes: buff\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 280,
        "y": 260,
        "wires": [
            [
                "189382fd.8648ad"
            ]
        ]
    },
    {
        "id": "2109cbaf.0e2724",
        "type": "debug",
        "z": "3382f3e8.29c93c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1040,
        "y": 260,
        "wires": []
    },
    {
        "id": "2915da68.305896",
        "type": "AWS DynamoDB",
        "z": "3382f3e8.29c93c",
        "aws": "9c11537c.9739c",
        "operation": "BatchGetItem",
        "RequestItems": "",
        "TableName": "face_collection",
        "BackupName": "",
        "GlobalTableName": "",
        "ReplicationGroup": "",
        "AttributeDefinitions": "",
        "KeySchema": "",
        "ProvisionedThroughput": "",
        "BackupArn": "",
        "Key": "",
        "ResourceArn": "",
        "Item": "",
        "TargetTableName": "",
        "SourceTableName": "",
        "Tags": "",
        "TagKeys": "",
        "PointInTimeRecoverySpecification": "",
        "ReplicaUpdates": "",
        "TimeToLiveSpecification": "",
        "name": "",
        "x": 520,
        "y": 340,
        "wires": [
            [
                "ba11eb2d.684858",
                "20c401ce.cc2c0e"
            ]
        ]
    },
    {
        "id": "8007c357.7ad99",
        "type": "function",
        "z": "3382f3e8.29c93c",
        "name": "",
        "func": "\nif (msg.payload &&\nmsg.payload.FaceMatches && \nmsg.payload.FaceMatches.length > 0)\n{\n    //save the facematches to put back in payload later:\n    msg.FaceMatches = msg.payload.FaceMatches\n    \n    var keys = msg.payload.FaceMatches.map(x => {\n        return {\n            \"RekognitionId\": {\n                S: x.Face.FaceId\n            }\n        }\n    });\n    \n    msg.RequestItems = {\n        \"face_collection\": {\n             Keys: keys//, \n             //ProjectionExpression: \"AlbumTitle\"\n            }\n          };\n\n    \n    \n    \n    // msg.Key = \n    // {\n    //   \"RekognitionId\": {\n    //         S: msg.payload.FaceMatches[0].Face.FaceId\n    //     }\n    // }\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 340,
        "wires": [
            [
                "2915da68.305896"
            ]
        ]
    },
    {
        "id": "ba11eb2d.684858",
        "type": "debug",
        "z": "3382f3e8.29c93c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1040,
        "y": 340,
        "wires": []
    },
    {
        "id": "20c401ce.cc2c0e",
        "type": "function",
        "z": "3382f3e8.29c93c",
        "name": "",
        "func": "var username = msg.req.params.username;\n\nmsg.payload.Authenticated = false;\nif (msg.payload.Responses.face_collection){\n    \n    matches = msg.payload.Responses.face_collection.filter(x => {\n        return x.FullName.S == username;\n    });\n    \n    if (matches.length == msg.payload.Responses.face_collection.length){\n        msg.payload.Authenticated = true;\n    }\n}\n\nif (msg.FaceMatches){\n    msg.payload.FaceMatches = msg.FaceMatches;\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 790,
        "y": 400,
        "wires": [
            [
                "ab75348c.b758a8",
                "fa263938.c6f0e8"
            ]
        ]
    },
    {
        "id": "ab75348c.b758a8",
        "type": "debug",
        "z": "3382f3e8.29c93c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1050,
        "y": 400,
        "wires": []
    },
    {
        "id": "d13dfc93.fcb39",
        "type": "catch",
        "z": "3382f3e8.29c93c",
        "name": "",
        "scope": [
            "2915da68.305896",
            "189382fd.8648ad"
        ],
        "x": 430,
        "y": 440,
        "wires": [
            [
                "4751dc18.9827d4",
                "84c4b023.c17a8"
            ]
        ]
    },
    {
        "id": "2ade69fb.5aa106",
        "type": "http response",
        "z": "3382f3e8.29c93c",
        "name": "",
        "statusCode": "200",
        "headers": {
            "content-type": "application/json"
        },
        "x": 810,
        "y": 440,
        "wires": []
    },
    {
        "id": "4751dc18.9827d4",
        "type": "template",
        "z": "3382f3e8.29c93c",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"Authenticated\": false\n}",
        "output": "str",
        "x": 600,
        "y": 440,
        "wires": [
            [
                "2ade69fb.5aa106"
            ]
        ]
    },
    {
        "id": "fa263938.c6f0e8",
        "type": "http response",
        "z": "3382f3e8.29c93c",
        "name": "",
        "statusCode": "200",
        "headers": {
            "content-type": "application/json"
        },
        "x": 1060,
        "y": 440,
        "wires": []
    },
    {
        "id": "a70ea023.82b02",
        "type": "http in",
        "z": "3382f3e8.29c93c",
        "name": "",
        "url": "/hello",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 40,
        "wires": [
            [
                "740141f2.cdfba"
            ]
        ]
    },
    {
        "id": "740141f2.cdfba",
        "type": "http response",
        "z": "3382f3e8.29c93c",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 340,
        "y": 40,
        "wires": []
    },
    {
        "id": "84c4b023.c17a8",
        "type": "debug",
        "z": "3382f3e8.29c93c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 610,
        "y": 520,
        "wires": []
    }
]